.pagina-cadastro {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F0F0F5;
    overflow-x: hidden;
}


/* barra de rolagem **/

*::-webkit-scrollbar {
    width: 0px;
}